alabaster==0.7.12
attrs==19.3.0
audioread==2.1.8
Babel==2.8.0
certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
docutils==0.16
future==0.18.2
guzzle-sphinx-theme==0.7.11
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
librosa==0.7.2
llvmlite==0.32.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mido==1.2.9
mir-eval==0.5
numba==0.49.1
numpy==1.18.5
packaging==20.4
pandas==1.0.4
patsy==0.5.1
pretty-midi==0.2.8
pyFluidSynth==1.2.5
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
resampy==0.2.2
scikit-learn==0.23.1
scikit-posthocs==0.6.4
scipy==1.4.1
seaborn==0.10.1
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.1.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.2
statsmodels==0.11.1
urllib3==1.25.9
